.am-hotelfolio-reguest-settings-form .form-table th {
    width: 150px;
}

.am-hotelfolio-reguest-settings-form .form-table td p.description {
    max-width: 400px;
}

.am-hotelfolio-reguest-settings-form #am_hotelfolio_reguest_form_mapping .mapping-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.am-hotelfolio-reguest-settings-form #am_hotelfolio_reguest_form_mapping .mapping-row label {
    font-family: monospace;
    width: 150px;
    margin-right: 10px;
    font-weight: bold;
}