.webx-reguest-mapping-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.webx-reguest-mapping-row label {
    flex: 0 0 150px; /* Fixed width for labels */
    margin-right: 10px;
    font-weight: bold;
}
.webx-reguest-mapping-row input[type="text"] {
    flex-grow: 1;
    max-width: 300px; /* Limit input width */
    margin-right: 10px;
}